fastapi
uvicorn
pydantic[email]
pydantic
pydantic-settings
motor
python-jose[cryptography]
passlib
bcrypt==4.0.1
pandas
numpy
scikit-learn
xgboost
tensorflow
shap
networkx
pytest
pytest-asyncio
httpx
loguru
python-multipart
python-dotenv
